.hero {
    background-color: #414141;
    padding-top: 2rem;
    background: url("/assets/img/charcoal_background.jpg") no-repeat center center;
    background-size: cover cover;

    h1 {
        margin-bottom: -6rem;
    }

    .button {
        font-weight: bold;
    }

    @include breakpoint(landscape) {
        height: 100vh;
    }
}