<nav data-sticky-container>
	<!-- * * * * * * * * * * * * * * * * * * * * * *  
    Nav mobile
    * * * * * * * * * * * * * * * * * * * * * * -->
	<div class="nav-mobile show-for-small-only">
		<button type="button" class="button" data-toggle="offCanvas">Open Menu</button>
		<p>
			Mobile menu
		</p>
	</div>


	<!-- * * * * * * * * * * * * * * * * * * * * * *  
    Nav desktop
    * * * * * * * * * * * * * * * * * * * * * * -->
	<div class="nav-desktop title-bar show-for-medium" data-sticky data-options="marginTop:0;">
		<div class="title-bar-right">
			<ul class="menu horizontal" data-magellan>
				<li><a href="#home">Home</a></li>
				<li><a href="#our-food">Our Food</a></li>
				<li><a href="#our-brand">Our Brand</a></li>
				<li><a href="#franchise">Franchise</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>